<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <span class="logo" routerLink="/">GEA-Games</span>
      <input
        class="search-input"
        name="search"
        ngModel
        placeholder="Search from this 500,000+ Game library"
      />
      <button class="search-button">Search</button>
    </form>

    <button class="search-button" routerLink="/">Home</button> &nbsp; &nbsp; &nbsp;
    <button class="search-button">Account</button> &nbsp; &nbsp; &nbsp;
    <button class="search-button">Login</button> &nbsp; &nbsp;
  </div>

  
 
  
 

  